.container{
    
    display: inline-block;
    background-color: grey;
    border-radius: 10px;
    
}

.container >input{
    border:10px solid gray;
    
    background-color: green;
    border-radius: 15px;
    background-color: white;
    border-end-end-radius: 30px;
    width: 230px;
    height: 30px;
}
table{
    margin:auto;
   
    border-radius: 5px;
    
    
}
  td input{
    border-radius: 25px;
    width:50px;
    height:25px;
   font-size: 15px;
}
td input:active{
    background-color: cornflowerblue;
}